<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{#unless currentUser}}
<ul>
  <li>
    <a href="/auth/signup">Sign up</a>
  </li>
  <li>
    <a href="/auth/login">Login</a>
  </li>
</ul>
{{/unless}} {{#if currentUser}} Logged in as: {{currentUser.username}}
<P>
  <form method='post' action='auth/logout'>
    <button>Log out</button>
  </form>
</P>{{/if}}